<div class="container">
    <ngx-spinner type="ball-spin-clockwise"></ngx-spinner>
    <div [innerHTML]="target"></div>
    <div class="row">
        <div class="col-md-8">
            <form #userForm="ngForm" (ngSubmit)="update_Student()">
                <div class="col-md-4">
                    <label for="inputName4" class="form-label">Name</label>
                    <input type="text" pattern="[a-zA-Z]+$" class="form-control" #userName="ngModel" name="name"
                        [(ngModel)]="userobj.name" required>
                </div>
                <span *ngIf="userName.invalid && userName.touched && !userForm.submitted" style="color: red;">Please
                    Enter a Valid Name</span>
                <div class="col-md-4">
                    <label for="inputClass4" class="form-label">Class</label>
                    <input type="text" class="form-control" #userClass="ngModel" name="class"
                        [(ngModel)]="userobj.class" required pattern="[0-9]+$">
                </div>
                <span *ngIf="userClass.invalid && userClass.touched && !userForm.submitted" style="color: red;">Please
                    Enter a Valid
                    Class</span>
                <div class="col-md-4">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" #userEmail="ngModel" name="email"
                        [(ngModel)]="userobj.email" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                </div>
                <span *ngIf="userEmail.invalid && userEmail.touched && !userForm.submitted" style="color: red;">Please
                    Enter a Valid
                    Email</span>

                <div class="col-md-4" style="float: right; margin-top: -11px;">
                    <button type="submit" style="margin-top: -88px;" class="btn btn-primary">Update Student</button>
                </div>
            </form>
        </div>
          </div>
</div>